header(id = 'header')
    div(class = 'inner')
        a(href = '/' class = 'logo') <img src="/img/logo-white.png" style = "height: 20px; margin-top: 10px;" />
        //a(href = '/' class = 'logo') HyperAgents
        nav( id = 'nav')
            a(href = '/') Home
            a(href = '/team/') Team
            //a(href = '/events/') Events
        a(href = '#navPanel' class = 'navPanelToggle')
            span(class = ['fa', 'fa-bars'])
