doctype html
html(lang="en")
    head
        title Team - HyperAgents Project
        meta(charset = 'utf-8')
        meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
        link(rel = 'stylesheet', href = '/css/main.css')

    body.subpage
        include header.pug

        //-
            section.wrapper
                .inner
                    header.align-center
                        h2 Our team
                        p Our team is our pride
                    p The project team brings together senior and young researchers from MINES Saint-Etienne, WIMMICS, and Interactions-HSG.

        section(class = ['wrapper', 'special'])
            .inner
                header.align-left
                    h2.align-center Our team

                    span Our team brings together senior and young researchers across several areas: Web architecture and the Web of Things, Semantic Web and Linked Data, Autonomous Agents and Multi-Agent Systems. Research groups:
                        ul
                            li <a href="https://www.mines-stetienne.fr/en/">Intelligent Systems and Informatics, MINES Saint-Étienne, France</a>
                            li <a href="http://wimmics.inria.fr/">WIMMICS, Inria, Universite Cote D'Azur, CNRS, I3S, France</a>
                            li <a href="https://interactions.ics.unisg.ch/">Chair of Interaction- and Communication-based Systems (Interactions-HSG), University of St.Gallen, Switzerland</a>

                div(class = "flex flex-4")
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/olivierb.jpg", alt="Person 1")
                        h3 Olivier Boissier
                        p MINES Saint-Étienne
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/victor.jpg", alt="Person 2")
                        h3 Victor Charpenay
                        p MINES Saint-Étienne
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/andrei.jpg", alt="Person 3")
                        //-h3 Andrei Ciortea
                        h3 #{data[0].fn}
                        p Interactions-HSG &amp; WIMMICS
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/olivierc.jpg", alt="Person 4")
                        h3 Olivier Corby
                        p WIMMICS
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/fabien.jpg", alt="Person 1")
                        h3 Fabien Gandon
                        p WIMMICS
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/maxime.jpg", alt="Person 2")
                        h3 Maxime Lefrançois
                        p MINES Saint-Étienne
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/adnane.jpg", alt="Person 3")
                        h3 Adnane Mansour
                        p MINES Saint-Étienne &amp; WIMMICS
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/simon.jpg", alt="Person 4")
                        h3 Simon Mayer
                        p Interactions-HSG &amp; ETH Zürich
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/franck.jpg", alt="Person 1")
                        h3 Franck Michel
                        p WIMMICS
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/alessandro.jpg", alt="Person 4")
                        h3 Alessandro Ricci
                        p (invited expert) <br/> University of Bologna
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/stefan.jpg", alt="Person 2")
                        h3 Ștefan Sarkadi
                        p WIMMICS
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/andrea.jpg", alt="Person 3")
                        h3 Andrea Tettamanzi
                        p WIMMICS
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/danai.jpg", alt="Person 4")
                        h3 Danai Vachtsevanou
                        p Interactions-HSG
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/serena.jpg", alt="Person 3")
                        h3 Serena Villata
                        p WIMMICS
                    div(class = "box person")
                        div(class="image round")
                            img(src="/img/antoine.jpg", alt="Person 4")
                        h3 Antoine Zimmermann
                        p MINES Saint-Étienne

        include footer.pug

        script(src = '/js/jquery.min.js')
        script(src = '/js/skel.min.js')
        script(src = '/js/util.js')
        script(src = '/js/main.js')
